<% layout("/layout/boilerplate") %>

<body>
  <div class="row ">
    <div class="col-8 offset-2">
          <h4>Listing Details</h4>
          <p>Here are the details of the listing:</p>
          <div class="card mb-3">
        <img src="<%= listing.image.url %>" alt="<%= listing.title %>" class="card-img-top" />
        <div class="card-body">
          <div class="card-title">
            <h5><%= listing.title %></h5>
            <div class="card-text">
              <p>Price: $<%= listing.price %></p>
              <p>Location: <%= listing.location %></p>
              <p>Description: <%= listing.description %></p>
            </div>
              <div>
            <button class="btn btn-success"><a href="/listings/<%= listing._id %>/edit" class="text-decoration-none text-white">Edit Listing</a></button>
      <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST" style="display:inline;">
    <button type="submit" class="btn btn-danger">Delete Listing</button>
</form>
      </div>
          </div>
        </div>
      </div>
    
   
  </div>
 


</body>     
  <!-- <a href="/listings/<%= listing._id %>/edit">Edit Listing</a>
<form action="/listings/<%= listing._id %>?_method=DELETE" method="POST" style="display:inline;">
    <button type="submit">Delete Listing</button>
</form> -->
     