<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="style.css">
    <title>whattapp</title>
</head>
<body>
    <form action="/chats/new">
        <button>create chat</button>
    </form>
    <h2>Mini whattapp</h2>
   <% for ( let chat of chats) { %>
        <div>
            <h3><%= chat.from %></h3>
            <p><%= chat.to %></p>
            <p>Last updated: <%= chat.msg %></p>
            <p><%= chat.created_at.toString().split(" ")[4] %></p>
            <p><%= chat.created_at.toString().split(" ").slice(0, 4).join(" ") %></p>

        </div>
   <% } %>
</body>
</html>